<h1> yo. i wanna sit outside and code. where should i do go?</h1>

<form action="/results" method="post">
      <p>
        <label for="neighborhood">What neighborhood?:</label>
        <input type="text" name="neighborhood">
      </p>
      <input type="submit" value="Check my neighborhood!">
    </form>